.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  background: #ad8761;
  color: #fff;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: left;
  padding: 0.5%;
  background: #cee0d96b;
  color: #fff;
  border-radius: 8px;
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  color: #ad8761cc;
}
.links {
  width: 50%;
  display: flex;
  justify-content: space-around;

  align-items: center;
  list-style: none;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.home {
  box-sizing: border-box;
  align-items: center;
  background-image: url("images/city.jpg");
  background-size: contain;
  size: initial;
  background-repeat: no-repeat;
}

label {
  color: #426a5a;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 1vh;
}

div {
  display: block;
  margin-left: 0.7vw;
}
h1 {
  color: #426a5a;
  font-family: Georgia, "Times New Roman", Times, serif;
}

.body {
  background-image: url("images/bg.jpg");
  margin-top: 2vh;
  height: 98vh;
}

.container {
  background-color: #cee0d96b;
  display: block;
  margin: auto;
  border-radius: 8px;
  max-width: 22%;
  max-height: 100%;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

.btn {
  background-color: #ad8761cc;
  color: #ffffff;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: large;
  border-radius: 8px;
  size: 1 vh;
  margin-top: 2.5vh;
  padding: 1.5%;
  align-content: center;
}
.btn-div {
  display: flex;
  align-content: center;
  justify-content: center;
  text-align: center;
}
/* textarea {
  background-color: #c5ddd3;
  border-radius: 8px;
  size: 5vh;
  padding: 0.8%;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bold;
} */

input {
  background-color: #c5ddd3;
  height: 4vh;
  border-radius: 8px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: larger;
  font-weight: bold;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

h4 {
  color: #b1b1b1;
  font-family: Georgia, "Times New Roman", Times, serif;
  margin-bottom: 1vh;
  margin-top: 1vh;
  align-self: flex-start;
}
