.App {
  text-align: center;
}

footer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;

  background: #ad8761;
  color: #fff;
}
.links {
  width: 50%;
  display: flex;
  justify-content: space-around;

  align-items: center;
  list-style: none;
}
